//- h2= mongoMessage
.container
    .jumbotron
        h1 MagicKeeper
        p MagicKeeper - a simple database for Magic The Gathering cards
    
    .row
        .col-md-6
            div(ng-include="'/partials/pictures'")
            
        .col-md-6
            div(ng-include="'/partials/new-courses'")
            p stuff to go here
