.panel.panel-primary
    .panel-heading.text-center View my cards
    .panel-body
        .image-block
            .row
                //- .col-md-6
                img.className#IdName(src="/mtg1.png" alt="Mana image" style="width:auto;height:auto;")
                //- .col-md-6
                //-     p.p-heading.text-center(style="color: purple;") View all cards